body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  height: 100%; /* Ensure the entire viewport is covered */
  margin: 0 !important;
  padding: 0 !important;
  background-color: black;
  color: white;
}

#root,
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height for the page */
}

.app-content {
  flex: 1; /* Pushes the footer to the bottom */
}
